body {
    background-color: rgba(0,0,255,0.2);
}
section div{
    border-bottom: thick dotted #0000FF;
}

#dialog-boxes div, #events div {
    border-bottom: none;
    margin: 10px auto;
}

#dialog-boxes, #events {
    border-bottom: thick dotted #0000FF;
}